
/*Home Page */
.intro{
    background: #35424a;
    color: #ffffff;
    overflow:hidden;
}

.homeNav {
    width: 30%;
    margin: auto;
    overflow: hidden;
}

.homeNav a {
    float: right;
    color:#ffffff;
    text-align: center;
    padding: 30px 16px 60px;
    text-decoration: none;
    font-size: 25px;
}

.homeNav a:hover{
    background-color: #ddd;
    color:black;
}

.homeNav a.active {
    background-color: #04AA6D;
    color: white;
}

.profile{
  border: 1px solid #ddd;
  border-radius: 50px;
  padding: 5px;
  width: 40%;
}

.begin {
    float:right;
    text-align:center;
    width:55%;
    padding: 10px;
    font-size:30px;
}

#dev-c {
    border: 1px solid #ddd;
    border-radius: 4px;
    width:30%;
    height:30%;
}

#shop{
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    width: 30%;
    height:30%;
    
}

.jobNav{
    vertical-align: top;
    display:inline;
    text-align: center;
    width: 120px;
}

.jobNav p{
display: block;
}

.jobNav a:hover{
    background-color: #ddd;
    color:black;
}

.jobNav a.active {
    background-color: #04AA6D;
    color: white;
}

/* Mechanic page */

